/*
.content801338 span.gla-btn-read-more {
    display: none;
}
*/


/* CSS Les seceturs */

.block.article-title.intro-secteurs  .cx-lazy-load {
    display: block;
    float: none;
    width: auto;
    margin-top: 0rem;
    margin-right: auto;
    margin-left: auto;
    order: 2;
    padding: 0;
    text-align: center;
}

.block.article-title.intro-secteurs .at-content {
    display: block;
    order: 1;
    margin: 0;
    margin-top: -434px;
    text-align: center;
    min-height: 500px;
}
